/*Desktop view*/
.Have__property{
    font-size: 18px;
    font-style:normal;
    font-weight: bold;
    line-height: 21px;
    color: #291E17;
}
.Have__value{
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    line-height: 21px;
    color: #291E17;
}
.Have__hr{
    width: 689px;
    height: 0px;
    border: 2px solid #CC9B66;
    background-color:#CC9B66 ;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 50px;
}