.I__property{
    color:#291E17;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
}
.I__value{
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    color: #000000;
    padding-left: 23px ;
}
.I__hr{
    width: 689px;
    height: 0px;
    border: 2px solid #CC9B66;
    background-color:#CC9B66 ;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.myClassName{
    background: rgba(234, 234, 234, 0.4) !important;
    width: 247px !important;
    
    backdrop-filter: blur(44px) !important;
}
.myMenuClassName{
    background: rgba(234, 234, 234, 0.4) !important;
    /* height:255px !important; */
    /* backdrop-filter: blur(44px);*/
}
.Dropdown-placeholder{
    padding: 14px 23px 10px 23px !important;
}
.Dropdown-option{
    padding: 14px 0px 10px 23px !important;
    border-top: 0.4px solid #CC9B66 !important;
}
/*For small and medium devices*/
@media(min-width:576px) and (max-width:800px){
    .I__hr{
        width:340px;
        margin-left:95px;
        margin-top:10px;
        margin-bottom:20px;
    }
    .I__property{
        font-size:13px;
        padding-left: 95px;
        width: max-content;
    }
    .I__value{
        font-size:13px;
        line-height: 20px;
        padding-left: 50px;
    }
    .I__food{
        padding-left: 95px;
    }
    .I__tobacco{
        padding-left:100px;
    }
}
/*For medium and large devices*/
@media(min-width:800px) and (max-width:1200px){
    .I__property{
        font-size: 15px;
        padding-left: 70px;
        width: max-content;
    }
    .I__value{
        font-size: 15px;
        color: #291E17;
    }
    .I__hr{
        width: 450px;
        margin-left: 70px;
        margin-top:10px;
        margin-bottom: 20px;
    }
    .I__food{
        padding-left: 50px;
    }
    .I__tobacco{
        padding-left:50px;
    }
}