.I__property{
    color:#291E17;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
}
.I__value{
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    color: #291E17;
}
.I__hr{
    width: 689px;
    height: 0px;
    border: 2px solid #CC9B66;
    background-color:#CC9B66 ;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 50px;
}