/*Desktop view*/
.Me__property{
    color:#291E17;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
}
.Me__value{
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    color: #291E17;
}
.Me__hr{
    width: 689px;
    height: 0px;
    border: 2px solid #CC9B66;
    background-color:#CC9B66 ;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 50px;

}
/*For medium and large devices*/
@media(min-width:800px) and (max-width: 1200px){
    .Me__property{
        padding-left: 70px;
    }
    .Me__hr{
        width: 512px;
        margin-left: 70px;
    }
}