.Me__property{
  height: 21px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #291E17;
  padding-top: 3px;
}
.Me__ContactNo{
    width: 30% !important;
    margin-left: 20px !important;
    background-color: #FFFFFF !important;
}
.Me__EmergencyContactNo{
    margin-left: 20px;
    width: 30% !important;
    background-color: #FFFFFF !important;
}
.Me__Email{
    margin-left: 20px;
    width: 40% !important;
    background-color: #FFFFFF !important;
}
.Me__DOB{
    margin-left: 20px;
    width: 30% !important;
    background-color: #FFFFFF !important;
}
.Me__Height{
   margin-left: 20px;
   width: 20% !important;
   background-color: #FFFFFF !important;
}
.Me__Weight{
   margin-left: 20px;
   width: 20% !important;
   background-color: #FFFFFF !important;
}
.Me__Status{
   width: 30% !important;
   margin-left: 20px;
   background-color: #FFFFFF !important;
}
.Me__Occupation{
  margin-left: 20px;
  width: 30% !important;
  background-color: #FFFFFF !important;
}
.Me__City{
    margin-left: 20px;
    width: 30% !important;
    background-color: #FFFFFF !important;
}
.Me__Locality{
    margin-left: 20px;
    width: 40% !important;
    background-color: #FFFFFF !important;
}
.Me__hr{
    margin-top: 14px;
    color: #CC9B66;
    height: 0.2px;
    border: 1px solid #CC9B66;
    background-color: #CC9B66;
    margin-left: -30px;
    width: 693px;
    margin-bottom: 50px;
}
.Dropdown-placeholder{
    padding: 14px 23px 10px 23px !important;
}
.Dropdown-option{
    padding: 14px 0px 10px 23px !important;
    border-top: 0.4px solid #CC9B66 !important;
    
}
.myMenuClassMeClass{
    background: rgba(234, 234, 234, 0.4);
    height: 300px;
    /* z-index: 999 !important; */
    overflow-y:scroll;
}
.myClassMeName{
    background: rgba(234, 234, 234, 0.4);
    width: 247px;

}
.Me__State__Dropdown{
    margin-left: 20px;
    margin-top: -10px;
}
.Me__DetectMyLocation{
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    color: #0074DF;
    margin-left: 170px;
}
.Me__detect-image{
    margin-right: 50px;
}
/*For medium and large devices*/
@media(min-width: 576px) and (max-width: 800px){
    .Me__hr{
        margin-top: 14px;
        color: #CC9B66;
        height: 0.2px;
        border: 1px solid #CC9B66;
        background-color: #CC9B66;
        margin-left: -30px;
        width: 365px;
        margin-bottom: 50px;
    }
    .Me__DetectMyLocation{
        margin-left: 53px;
    }
}
/*For large devices*/
@media(min-width:800px) and (max-width: 1200px){
    .Me__hr{
       width: 573px;
    }
    .Me__DetectMyLocation{
        margin-left: 105px;
    }
}