/*Desktop view*/
.Me__property{
    color:#291E17;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
}
.Me__value{
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    color: #291E17;
}
.Me__hr{
    width: 689px;
    height: 0px;
    border: 2px solid #CC9B66;
    background-color:#CC9B66 ;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 50px;
}
.Dropdown-placeholder{
    padding: 14px 23px 10px 23px !important;
}
.Dropdown-option{
    padding: 14px 0px 10px 23px !important;
    border-top: 0.4px solid #CC9B66 !important;
    backdrop-filter: blur(44px)
}
.myMenuClassMeClass{
    background: rgba(234, 234, 234, 0.4) 
}
.myClassMeName{
    background: rgba(234, 234, 234, 0.4);
    width: 247px;

}
.Me__SaveButton{
   margin-left: 20%;
   width: 150px;
   height: 50px;
   margin-bottom: 100px;
   border-radius: 50px;
   border: 2px solid #CC9B66;
   color: solid black;
   font-size: 18px;
   background-color: #CC9B66;
}
.Me__SaveButton:hover{
    background-color: #CC9B66;
    border: none;
}
/*For small and medium devices*/
@media (min-width:576px) and (max-width:800px){
    .Me__property{
        font-size:13px;
        padding-left: 95px;
        width: max-content;
    }
    .Me__value{
        font-size:13px;
        line-height: 20px;
        padding-left: 50px;
    }
    .Me__emergency-number{
        padding-left: 110px;
        width: max-content;
    }
    .Me__hr{
        width:340px;
        margin-left:95px;
        margin-top:10px;
        margin-bottom:20px;
    }
}
/*For medium and large devices*/
@media(min-width:800px) and (max-width: 1200px){
    .Me__property{
        padding-left: 70px;
        font-size: 15px;
        width:max-content;
    }
    .Me__hr{
        width: 450px;
        margin-left: 70px;
        font-size: 15px;
        margin-top:10px;
        margin-bottom: 20px;
    }
    .Me__emergency-number{
        padding-left: 70px;
    }
    .Me__value{
        font-size: 15px;
    }
}